@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 100;
    src: url('/assets/fonts/OpenSansRegular.eot');
    src: url('/assets/fonts/OpenSansRegular.eot') format('embedded-opentype'),
        url('/assets/fonts/OpenSansRegular.woff2') format('woff2'),
        url('/assets/fonts/OpenSansRegular.woff') format('woff'),
        url('/assets/fonts/OpenSansRegular.ttf') format('truetype'),
        url('/assets/fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'OpenSans';
    font-style: italic;
    font-weight: 100;
    src: url('/assets/fonts/OpenSansItalic.eot');
    src: url('/assets/fonts/OpenSansItalic.eot') format('embedded-opentype'),
        url('/assets/fonts/OpenSansItalic.woff2') format('woff2'),
        url('/assets/fonts/OpenSansItalic.woff') format('woff'),
        url('/assets/fonts/OpenSansItalic.ttf') format('truetype'),
        url('/assets/fonts/OpenSansItalic.svg#OpenSansItalic') format('svg');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 200;
    src: url('/assets/fonts/OpenSansRegular.eot');
    src: url('/assets/fonts/OpenSansRegular.eot') format('embedded-opentype'),
        url('/assets/fonts/OpenSansRegular.woff2') format('woff2'),
        url('/assets/fonts/OpenSansRegular.woff') format('woff'),
        url('/assets/fonts/OpenSansRegular.ttf') format('truetype'),
        url('/assets/fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'OpenSans';
    font-style: italic;
    font-weight: 200;
    src: url('/assets/fonts/OpenSansItalic.eot');
    src: url('/assets/fonts/OpenSansItalic.eot') format('embedded-opentype'),
        url('/assets/fonts/OpenSansItalic.woff2') format('woff2'),
        url('/assets/fonts/OpenSansItalic.woff') format('woff'),
        url('/assets/fonts/OpenSansItalic.ttf') format('truetype'),
        url('/assets/fonts/OpenSansItalic.svg#OpenSansItalic') format('svg');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/OpenSansLight.eot');
    src: url('/assets/fonts/OpenSansLight.eot') format('embedded-opentype'),
        url('/assets/fonts/OpenSansLight.woff2') format('woff2'),
        url('/assets/fonts/OpenSansLight.woff') format('woff'),
        url('/assets/fonts/OpenSansLight.ttf') format('truetype'),
        url('/assets/fonts/OpenSansLight.svg#OpenSansLight') format('svg');
}

@font-face {
    font-family: 'OpenSans';
    font-style: italic;
    font-weight: 300;
    src: url('/assets/fonts/OpenSansLightItalic.eot');
    src: url('/assets/fonts/OpenSansLightItalic.eot') format('embedded-opentype'),
        url('/assets/fonts/OpenSansLightItalic.woff2') format('woff2'),
        url('/assets/fonts/OpenSansLightItalic.woff') format('woff'),
        url('/assets/fonts/OpenSansLightItalic.ttf') format('truetype'),
        url('/assets/fonts/OpenSansLightItalic.svg#OpenSansLightItalic') format('svg');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
	font-weight: 400;
    src: url('/assets/fonts/OpenSansRegular.eot');
    src: url('/assets/fonts/OpenSansRegular.eot') format('embedded-opentype'),
         url('/assets/fonts/OpenSansRegular.woff2') format('woff2'),
         url('/assets/fonts/OpenSansRegular.woff') format('woff'),
         url('/assets/fonts/OpenSansRegular.ttf') format('truetype'),
         url('/assets/fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'OpenSans';
    font-style: italic;
	font-weight: 400;
    src: url('/assets/fonts/OpenSansItalic.eot');
    src: url('/assets/fonts/OpenSansItalic.eot') format('embedded-opentype'),
         url('/assets/fonts/OpenSansItalic.woff2') format('woff2'),
         url('/assets/fonts/OpenSansItalic.woff') format('woff'),
         url('/assets/fonts/OpenSansItalic.ttf') format('truetype'),
         url('/assets/fonts/OpenSansItalic.svg#OpenSansItalic') format('svg');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/OpenSansRegular.eot');
    src: url('/assets/fonts/OpenSansRegular.eot') format('embedded-opentype'),
        url('/assets/fonts/OpenSansRegular.woff2') format('woff2'),
        url('/assets/fonts/OpenSansRegular.woff') format('woff'),
        url('/assets/fonts/OpenSansRegular.ttf') format('truetype'),
        url('/assets/fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'OpenSans';
    font-style: italic;
    font-weight: 500;
    src: url('/assets/fonts/OpenSansItalic.eot');
    src: url('/assets/fonts/OpenSansItalic.eot') format('embedded-opentype'),
        url('/assets/fonts/OpenSansItalic.woff2') format('woff2'),
        url('/assets/fonts/OpenSansItalic.woff') format('woff'),
        url('/assets/fonts/OpenSansItalic.ttf') format('truetype'),
        url('/assets/fonts/OpenSansItalic.svg#OpenSansItalic') format('svg');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/OpenSansSemibold.eot');
    src: url('/assets/fonts/OpenSansSemibold.eot') format('embedded-opentype'),
        url('/assets/fonts/OpenSansSemibold.woff2') format('woff2'),
        url('/assets/fonts/OpenSansSemibold.woff') format('woff'),
        url('/assets/fonts/OpenSansSemibold.ttf') format('truetype'),
        url('/assets/fonts/OpenSansSemibold.svg#OpenSansSemibold') format('svg');
}

@font-face {
    font-family: 'OpenSans';
    font-style: italic;
    font-weight: 600;
    src: url('/assets/fonts/OpenSansSemiboldItalic.eot');
    src: url('/assets/fonts/OpenSansSemiboldItalic.eot') format('embedded-opentype'),
        url('/assets/fonts/OpenSansSemiboldItalic.woff2') format('woff2'),
        url('/assets/fonts/OpenSansSemiboldItalic.woff') format('woff'),
        url('/assets/fonts/OpenSansSemiboldItalic.ttf') format('truetype'),
        url('/assets/fonts/OpenSansSemiboldItalic.svg#OpenSansSemiboldItalic') format('svg');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
	font-weight: 700;
    src: url('/assets/fonts/OpenSansBold.eot');
    src: url('/assets/fonts/OpenSansBold.eot') format('embedded-opentype'),
         url('/assets/fonts/OpenSansBold.woff2') format('woff2'),
         url('/assets/fonts/OpenSansBold.woff') format('woff'),
         url('/assets/fonts/OpenSansBold.ttf') format('truetype'),
         url('/assets/fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}

@font-face {
    font-family: 'OpenSans';
    font-style: italic;
	font-weight: 700;
    src: url('/assets/fonts/OpenSansBoldItalic.eot');
    src: url('/assets/fonts/OpenSansBoldItalic.eot') format('embedded-opentype'),
         url('/assets/fonts/OpenSansBoldItalic.woff2') format('woff2'),
         url('/assets/fonts/OpenSansBoldItalic.woff') format('woff'),
         url('/assets/fonts/OpenSansBoldItalic.ttf') format('truetype'),
         url('/assets/fonts/OpenSansBoldItalic.svg#OpenSansBoldItalic') format('svg');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
	font-weight: 800;
    src: url('/assets/fonts/OpenSansExtraBold.eot');
    src: url('/assets/fonts/OpenSansExtraBold.eot') format('embedded-opentype'),
         url('/assets/fonts/OpenSansExtraBold.woff2') format('woff2'),
         url('/assets/fonts/OpenSansExtraBold.woff') format('woff'),
         url('/assets/fonts/OpenSansExtraBold.ttf') format('truetype'),
         url('/assets/fonts/OpenSansExtraBold.svg#OpenSansExtraBold') format('svg');
}

@font-face {
    font-family: 'OpenSans';
    font-style: italic;
	font-weight: 800;
    src: url('/assets/fonts/OpenSansExtraBoldItalic.eot');
    src: url('/assets/fonts/OpenSansExtraBoldItalic.eot') format('embedded-opentype'),
         url('/assets/fonts/OpenSansExtraBoldItalic.woff2') format('woff2'),
         url('/assets/fonts/OpenSansExtraBoldItalic.woff') format('woff'),
         url('/assets/fonts/OpenSansExtraBoldItalic.ttf') format('truetype'),
         url('/assets/fonts/OpenSansExtraBoldItalic.svg#OpenSansExtraBoldItalic') format('svg');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 900;
    src: url('/assets/fonts/OpenSansExtraBold.eot');
    src: url('/assets/fonts/OpenSansExtraBold.eot') format('embedded-opentype'),
        url('/assets/fonts/OpenSansExtraBold.woff2') format('woff2'),
        url('/assets/fonts/OpenSansExtraBold.woff') format('woff'),
        url('/assets/fonts/OpenSansExtraBold.ttf') format('truetype'),
        url('/assets/fonts/OpenSansExtraBold.svg#OpenSansExtraBold') format('svg');
}

@font-face {
    font-family: 'OpenSans';
    font-style: italic;
    font-weight: 900;
    src: url('/assets/fonts/OpenSansExtraBoldItalic.eot');
    src: url('/assets/fonts/OpenSansExtraBoldItalic.eot') format('embedded-opentype'),
        url('/assets/fonts/OpenSansExtraBoldItalic.woff2') format('woff2'),
        url('/assets/fonts/OpenSansExtraBoldItalic.woff') format('woff'),
        url('/assets/fonts/OpenSansExtraBoldItalic.ttf') format('truetype'),
        url('/assets/fonts/OpenSansExtraBoldItalic.svg#OpenSansExtraBoldItalic') format('svg');
}

// the above all OpenSans fonts are having total 5 ramaining 3 (thin-100, extra-light-200, medium-500, black-900) are only dummy.
// Value           Common weight name 

// 100             Thin (Hairline)
// 200             Extra Light (Ultra Light)
// 300             Light
// 400             Normal
// 500             Medium
// 600             Semi Bold (Demi Bold)
// 700             Bold
// 800             Extra Bold (Ultra Bold)
// 900             Black (Heavy)

// font-size
$fs:14px;
// font-family
$ff: "OpenSans";