@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('../fonts/proximanova-regular.eot');
  src: url('../fonts/proximanova-regular.eot') format('embedded-opentype'), url('../fonts/proximanova-regular.woff') format('woff'), url('../fonts/proximanova-regular.ttf') format('truetype'), url('../fonts/proximanova-regular.svg#ProximaNovaRegular') format('svg');
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url('../fonts/proximanova-bold.eot');
  src: url('../fonts/proximanova-bold.eot') format('embedded-opentype'), url('../fonts/proximanova-bold.woff') format('woff'), url('../fonts/proximanova-bold.ttf') format('truetype'), url('../fonts/proximanova-bold.svg#ProximaNovaBold') format('svg');
}

@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url('../fonts/proximanova-semibold.eot');
  src: url('../fonts/proximanova-semibold.eot') format('embedded-opentype'), url('../fonts/proximanova-semibold.woff') format('woff'), url('../fonts/proximanova-semibold.ttf') format('truetype'), url('../fonts/proximanova-semibold.svg#ProximaNovaSemibold') format('svg');
}

@font-face {
  font-family: 'ProximaNovaLight';
  src: url('../fonts/proximanova-light.eot');
  src: url('../fonts/proximanova-light.eot') format('embedded-opentype'), url('../fonts/proximanova-light.woff') format('woff'), url('../fonts/proximanova-light.ttf') format('truetype'), url('../fonts/proximanova-light.svg#ProximaNovaLight') format('svg');
}

$normalFont: 'ProximaNovaRegular';
$boldFont: 'ProximaNovaBold';
$semiBoldFont: 'ProximaNovaSemibold';
$lightFont: 'ProximaNovaLight';

body{
    font-family: $normalFont;
}