<div class="contact-form-block">
    <form
        class="contact-form"
        action="https://liveformhq.com/form/{{ live_form_key }}"
        method="POST"
        accept-charset="utf-8"
    >
        <h3 class="contact-form-hdr">WRITE TO US</h3>
        <div class="form-group-block">
            <div class="form-group">
                <input type="text" {{validation_key}}name="name" name="name" placeholder="Name" />
                <div class="error-messages">
                    <div class="error-message" {{validation_key}}type="empty">Name field is mandatory</div>
                </div>
            </div>
            <div class="form-group">
                <input type="email" {{validation_key}}name="email" name="email" placeholder="Email" />
                <div class="error-messages">
                    <div class="error-message" {{validation_key}}type="empty">Email field is mandatory</div>
                    <div class="error-message" {{validation_key}}type="invalidEmail">Email field is Invalid</div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" name="subject" placeholder="Subject (Optional)" />
            </div>
        </div>
        <div class="form-group">
            <textarea name="message" {{validation_key}}name="message" placeholder="Message"></textarea>
            <div class="error-messages">
                <div class="error-message" {{validation_key}}type="empty">Message field is mandatory</div>
            </div>
        </div>
        <div class="button-block">
            <button class="submit-contact-form" type="submit">SEND</button>
        </div>
    </form>
</div>
