<!-- Set document title (see "_structure/_head") -->
{% set document_title = "Main Page" %}
{% extends "sections/_skeleton-content.html" %}
{% block content %}
	<!-- page content here -->
	<div class="main">
		<div class="html-click" data-html-class="active" data-html-target=".child" data-html-toggle="toggle" data-html-outside-click="true">Hello</div>
		<div class="child">Child 1</div>
		<div class="child html-click" data-html-class="active" data-html-target=".new">Child 2</div>
		<div class="new">xyz</div>
		<div class="html-click" data-html-class="hey" data-html-target=".new">hey</div>
	</div>
{% endblock %}

<!-- Add custom css to the <head> tag -->
{% block include_head %}
<link src="#" />
{% endblock %}

<!-- Add custom js to the footer, before closing </body> -->
{% block include_footer %}
<script src="#" /></script>
{% endblock %}
