<!DOCTYPE html>
<html lang="en-us">
	<!-- HTML files with "_" as prefix will be not be converted as a page html 
			 (check gulpfile.js file for the code) -->
	<head>
		<title>{{ document_title }} | My Site</title>
		<!-- Meta -->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

		<!-- CSS Files -->
		<link rel="stylesheet" href="{{ css_path }}main.css" type="text/css" />
		{% block include_head %}{% endblock %}
		<!-- End CSS files -->
	</head>
	<!-- You can go through nunjucks documentation to use template engine syntax -->
	<body>
		<div class="page">
			<div class="page-wrapper">
				<!-- Header section -->
				{% include "sections/_header.html" %}
				<!-- if the header and footer are common, you can include there sections here -->
				<!-- Add content here -->
				{% block content %}{% endblock %}
				<!-- Footer section -->
				{% include "sections/_footer.html" %}
			</div>
			<div class="popup-wrapper">
				{% include "sections/_popup-sections.html" %}
			</div>
		</div>
		<!-- HTML script path -->
		<script src="//mozilla.github.io/nunjucks/files/nunjucks.js" type="text/javascript"></script>
		<script src="{{ js_path }}html.js" type="text/javascript"></script>
		{% block include_footer %}{% endblock %}
	</body>
</html>
