<div class="header">
	<div class="header-wrapper">
		<div class="header-left">
			<div class="logo-section">
				<img src="" />
				<div class="logo-text">
					EL CAMINO MAS CORTO A SU TALLER DE CONFIANZA
				</div>
			</div>
		</div>
		<div class="header-right">
			<div class="menu-item active">
				<a href="">Inicio</a>
			</div>
			<div class="menu-item">
				<a href="">Blog</a>
			</div>
			<div class="menu-item">
				<a href="">Area Profesionales</a>
			</div>
			<div class="menu-item">
				<a href="">Necesita mas info?</a>
			</div>
			<div class="menu-item">
				<a href="">Contactenos</a>
			</div>
		</div>
	</div>
</div>