{% set svgName = "" %}
{% set pageTitle = "Homepage" %}
{% set pageName = "index" %}
{% extends "templates/sections/_skeleton-layout.html" %}
{% block content %}
	<!-- page content here -->
	<div class="main">
		<div class="html-click" data-html-class="active" data-html-target=".child" data-html-toggle="toggle" data-html-outside-click="true">Hello</div>
		<div class="child">Child 1</div>
		<div class="child html-click" data-html-class="active" data-html-target=".new">Child 2</div>
		<div class="new">xyz</div>
		<div class="html-click" data-html-class="hey" data-html-target=".new">hey</div>
	</div>
{% endblock %}
